@model IEnumerable<DataObjects.PlanetVM>

@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/planets.css" type="text/css" />

<div class="container">
    <br />
</div>
<div class="container rounded" style="position: relative;">
    <div class="row">
        <div class="col-md-8">
            <div id="my-image-container">
                <img id="my-image" src="~/Images/starMap.png" style="max-width: 100%; max-height: 100%;" draggable="false" />
            </div>
        </div>
        <div class="col-md-4">
            <div id="information-container"></div>
        </div>
    </div>
</div>

<script>
    $(function () { // kept getting an "undefined method" exception if I tried to define this JS function in a seperate file...
        var img = document.getElementById("my-image");

        $("#my-image").click(function (event) {
            // Get the click coordinates relative to the image
            var x = event.pageX - $(this).offset().left;
            var y = event.pageY - $(this).offset().top;

            $("#information-container").html(
            "<div class='card'>" +
                    "<h2>Coordinates</h2>" +
                    "<div class='card-header h4'>" +
                    "<p>(" + x.toFixed(2) + ", " + y.toFixed(2) + ")</p>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                "</div>"
            );

        });

        function createButtonWithCoordinates(name, x, y, gridNumber, planetLink, systemID, systemLink, sectorID, sectorLink, regionID, regionLink) {
            var img = document.getElementById("my-image");
            // Create a new button element
            var button = $("<button>");
            button.addClass("circular-button");
            button.css("left", ((x / img.offsetWidth) * 100) - .50 + "%");
            button.css("top", ((y / img.offsetHeight) * 100) - .50 + "%");
            button.html("<span class='circular-button-text'>" + name + "</span>");
            // Add the button to the image container
            $("#my-image-container").append(button);
            // Add information to the information container when the button is clicked
            button.click(function () {
                $("#information-container").html(
                    "<div class='card'>" +
                    "<h2>Planet</h2>" +
                        "<div class='card-header h4'>" +
                            "<a href='" + planetLink + "'>" + name + "</a>" +
                        "</div>" +
                        "<div class='card-footer text-body-secondary'>" +
                        "</div>" +
                    "</div>"
                    +
                    "<div class='card'>" +
                    "<h2>System</h2>" +
                    "<div class='card-header h4'>" +
                    "<a href='" + systemLink + "'>" + systemID + "</a>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                    "</div>"
                    +
                    "<div class='card'>" +
                    "<h2>Sector</h2>" +
                    "<div class='card-header h4'>" +
                    "<a href='" + sectorLink + "'>" + sectorID + "</a>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                    "</div>"
                    +
                    "<div class='card'>" +
                    "<h2>Region</h2>" +
                    "<div class='card-header h4'>" +
                    "<a href='" + regionLink + "'>" + regionID + "</a>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                    "</div>"
                    +
                    "<div class='card'>" +
                    "<h2>Grid Number</h2>" +
                    "<div class='card-header h4'>" +
                    "<p>" + gridNumber + "</p>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                    "</div>"
                    +
                    "<div class='card'>" +
                    "<h2>Coordinates</h2>" +
                    "<div class='card-header h4'>" +
                    "<p>(" + x.toFixed(2) + ", " + y.toFixed(2) + ")</p>" +
                    "</div>" +
                    "<div class='card-footer text-body-secondary'>" +
                    "</div>" +
                    "</div>"
                );
            });
        }

        @foreach(DataObjects.PlanetVM planet in Model)
        {
            @:createButtonWithCoordinates("@planet.PlanetID",
                                       @:  @planet.PlanetCoordinateX,
                                       @:  @planet.PlanetCoordinateY,
                                       @: "@planet.GridNumber",
                                       @: "@planet.PlanetArticleLink",
                                       @: "@planet.SystemID",
                                       @: "@planet.SystemArticleLink",
                                       @: "@planet.SectorID",
                                       @: "@planet.SectorArticleLink",
                                       @: "@planet.RegionID",
                                       @: "@planet.RegionArticleLink");
        }
    });
</script>



